<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5">

  <!--calibrated and joint limited ur5 without ros control-->

  <!-- resolve prefix variable (useful for multi robot) -->
  <xacro:include filename="$(find april_robot_description)/urdf/prefix.urdf.xacro" />

  <!-- ################################################################### -->
  <!-- ur5 arm -->

  <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro" />

  <!-- Reachable joint angles are limited by the robot structure to these
       values for the shoulder_lift_joint. It's important to restrict the joint
       angles, otherwise the planning space is discontinuous. 

       The shoulder_pan joint is limited to avoid unneccessary full arm
       reconfigurations when picking from the right. For picking from the left,
       one should exclude the opposite quadrant. -->
  <xacro:ur5_robot prefix="${prefix}ur5_"
    joint_limits_parameters_file="$(find april_robot_description)/config/ur5_joint_limits.yaml"
    kinematics_parameters_file="$(find april_robot_description)/config/ur5_calibration.yaml" />

  <!-- ################################################################### -->

</robot>
