<?xml version="1.0"?>

<!-- Load Mia hand with UR flange v1.0 -->
 <!-- URDF TO BE LOADED ON THE PARAMETER SERVER -->

  <robot xmlns:xacro="http://wiki.ros.org/xacro" name="mia_hand">

    <!-- true it loads robot model with default config provided by default yaml file
    False it loads calibrated robot model configuaration yaml file.
    See calibration folder-->
    <xacro:arg name="default_mia_model" default="true" />

  <!-- ////////////////////////////////////////////////////////////////////////////////////
    Choose the right hardware interface to use for joints based on the controllers ////
   ////////////////////////////////////////////////////////////////////////////////////-->


  <xacro:arg name="hw_interface_thumb_fle" default="VelocityJointInterface"/>
  <xacro:arg name="hw_interface_index_fle" default="VelocityJointInterface"/>
  <xacro:arg name="hw_interface_mrl_fle" default="VelocityJointInterface"/>
  <xacro:arg name="hw_interface_mrl_fle" default="VelocityJointInterface"/>
  <xacro:arg name="robotNamespace" default="/mia_hand"/> <!-- /mia_hand -->


  <!-- Materials -->
  <xacro:include filename="$(find mia_hand_description)/materials/materials.xacro"/>

  <!-- Import Transmission and all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find mia_hand_description)/urdf/mia_hand_gazebo.urdf.xacro" />

   <xacro:mia_gazebo hw_interface_thumb_fle="$(arg hw_interface_thumb_fle)"
                     hw_interface_index_fle="$(arg hw_interface_index_fle)"
                     hw_interface_mrl_fle= "$(arg hw_interface_mrl_fle)"
                     robotNamespace= "$(arg robotNamespace)" />

   <!-- Import robot model -->
  <xacro:include filename="$(find mia_hand_description)/urdf/mia_hand.urdf.xacro"/>

  <xacro:if value="$(arg default_mia_model)">
    <xacro:mia_hand_robot />
  </xacro:if>

  <xacro:unless value="$(arg default_mia_model)">
      <xacro:mia_hand_robot joint_limits_parameters_file= '$(find mia_hand_description)/calibration/joint_limits.yaml' />
  </xacro:unless>




   <!-- Connect Mia hand to the UR flange -->
    <link name="URflange">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="UR_flange">
        <origin xyz="-0.023781363 -0.039999999 0.03784062" rpy="2.879793167 -1.3e-08 1.570796371"/>
        <geometry>
          <mesh filename="package://mia_hand_description/meshes/stl/1.001.stl" scale="0.000999987 0.000999987 0.000999987"/>
        </geometry>
        <material name="DEFAULT_MTL.001"/>
      </visual>
    </link>

    <joint name="j_URflange" type="fixed">
      <origin xyz="0 -0.022566028 -0.000111314" rpy="-1.570796251 -1.570796251 0"/>
      <parent link="palm"/>
      <child link="URflange"/>
    </joint>

    <material name="DEFAULT_MTL.001">
      <color rgba="0.640000019 0.640000019 0.640000019 1.0"/>
    </material>

    <gazebo reference="URflange">
      <material>Gazebo/Grey</material>
      <selfCollide>False</selfCollide>
    </gazebo>

  <!--Connect wolrd to palm. NB Wolrd has been connected to the palm and not the flange to reduce the length of the tf chain matrices-->

  <link name="world"/>
  <joint name="j_palm" type="fixed">
     <origin xyz="0 0 0.2" rpy="1.57 0 0"/> <!--origin xyz="0 5.156e-06 6.87e-07" rpy="1.570796371 0 0"/-->
    <parent link="world"/>
    <child link="palm"/>
  </joint>



</robot>
