<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mia_hand">

  <!-- resolve prefix variable (useful for multi robot) -->
  <xacro:include filename="$(find april_robot_description)/urdf/prefix.urdf.xacro"/>

  <!-- mia hand -->
  <xacro:include filename="$(find mia_hand_description)/urdf/mia_hand.urdf.xacro"/>
  <xacro:mia_hand_robot/>

  <link name="flange">
    <visual >
      <origin xyz="-0.039999999 0.015274569 -0.023892667" rpy="1.308997035 0 0"/>
      <geometry>
        <mesh filename="package://mia_hand_description/meshes/stl/UR_flange.stl" scale="0.000999999 0.000999999 0.000999999"/>
      </geometry>
      <material name="GREY">
        <color rgba="0.202126482 0.202126482 0.202126482 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="palm_to_flange" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="flange"/>
    <child link="palm"/>
  </joint>

  <!-- ros control: done by mia_gazebo xacro, no need to duplicate -->
  <!--<gazebo>
    <plugin name="ros_control_hand" filename="libgazebo_ros_control.so">
        <robotNamespace>/mia_hand</robotNamespace>
        <robotSimType><robotSimType>mia_hand_gazebo/MiaHWSim</robotSimType></robotSimType>
    </plugin>
  </gazebo>-->

</robot>
