<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mia_hand">

  <!-- mia hand -->
  <xacro:include filename="$(find mia_hand_description)/urdf/mia_hand.urdf.xacro" />

  <!-- DefaultRobotHWSim + mimic joint plugin -->
  <xacro:include filename="$(find mia_hand_description)/urdf/mia_hand_gazebo_default.urdf.xacro" />
  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/mia_hand_ghi</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <link name="world"/>

  <joint name="world_to_palm" type="fixed">
    <origin xyz="0 0 0.2" rpy="1.57 0 0"/>
    <parent link="world"/>
    <child link="palm"/>
  </joint>

</robot>
