<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mia_hand_on_ur10">
  
  <!-- resolve prefix variable (useful for multi robot) -->
  <xacro:include filename="$(find april_robot_description)/urdf/prefix.urdf.xacro" />

  <!-- arm base, orange block/mount for ur5 or ur10 arm -->
  <xacro:include filename="$(find april_robot_description)/urdf/stand.urdf.xacro" />

  <!-- ur10 arm without ros control-->
  <xacro:include filename="$(find april_robot_description)/urdf/ur10.urdf.xacro" />

  <!-- attach "arm" and "arm base" -->
  <joint name="${prefix}arm_base_to_arm" type="fixed">
    <parent link="${prefix}arm_base" />
    <child link="${prefix}ur10_base_link" />
    <origin xyz="0 0 1.0" rpy="0 0 0" />
  </joint>

  <!-- mia hand -->
  <xacro:include filename="$(find april_robot_description)/urdf/mia_hand.urdf.xacro" />
  <xacro:include filename="$(find mia_hand_description)/urdf/mia_hand_gazebo.urdf.xacro" />
  <xacro:mia_gazebo hw_interface_thumb_fle="VelocityJointInterface"
                    hw_interface_index_fle="VelocityJointInterface"
                    hw_interface_mrl_fle="VelocityJointInterface"
                    robotNamespace="/mia_hand_on_ur10" />

  <!-- make connection between ur10 arm and mia hand -->
  <joint name="ur10_to_mia" type="fixed">
    <origin xyz="0 0 0.022" rpy="1.57079 0 -1.570796"/>
    <parent link="${prefix}ur10_tool0"/>
    <child link="flange"/>
  </joint>

  <!-- GRASP HACK -->
  <xacro:include filename="$(find april_robot_description)/urdf/gzplugin_grasp_fix.urdf.xacro"/>
  <xacro:gzplugin_grasp_fix prefix="${prefix}ur10_"/>

</robot>
