<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e">

  <!-- resolve prefix variable (useful for multi robot) -->
  <xacro:include filename="$(find april_robot_description)/urdf/prefix.urdf.xacro" />

  <!-- arm base, orange block/mount for ur5 or ur10 arm -->
  <xacro:include filename="$(find april_robot_description)/urdf/stand.urdf.xacro" />

  <!-- ur10e arm without ros control-->
  <xacro:include filename="$(find april_robot_description)/urdf/ur10e.urdf.xacro" />

  <!-- attach "arm" and "arm base" -->
  <joint name="${prefix}arm_base_to_arm" type="fixed">
    <parent link="${prefix}arm_base" />
    <child link="${prefix}ur10e_base_link" />
    <origin xyz="0 0 1.0" rpy="0 0 0" />
  </joint>

  <!-- ros control -->
  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
       <robotNamespace>/ur10e</robotNamespace>
    </plugin>
  </gazebo>

</robot>
