<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e">

  <!--ur10e without ros control-->

  <!-- resolve prefix variable (useful for multi robot) -->
  <xacro:include filename="$(find april_robot_description)/urdf/prefix.urdf.xacro" />

  <!-- ################################################################### -->
  <!-- ur10e arm -->

  <xacro:include filename="$(find ur_description)/urdf/inc/ur10e_macro.xacro" />

  <xacro:ur10e_robot prefix="${prefix}ur10e_" />

  <!-- ################################################################### -->

</robot>
