<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10">

  <!--ur10 without ros control-->

  <!-- resolve prefix variable (useful for multi robot) -->
  <xacro:include filename="$(find april_robot_description)/urdf/prefix.urdf.xacro" />

  <!-- ################################################################### -->
  <!-- ur10 arm -->

  <xacro:include filename="$(find ur_description)/urdf/inc/ur10_macro.xacro" />

  <xacro:ur10_robot prefix="${prefix}ur10_" />

  <!-- ################################################################### -->

</robot>
