<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5">

  <!--ur5 without ros control-->

  <!-- resolve prefix variable (useful for multi robot) -->
  <xacro:include filename="$(find april_robot_description)/urdf/prefix.urdf.xacro" />

  <!-- ################################################################### -->
  <!-- ur5 arm -->

  <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro" />

  <xacro:ur5_robot prefix="${prefix}ur5_" />

  <!-- ################################################################### -->
  
</robot>
