<?xml version="1.0"?>
<launch>

  <!-- test the mia hand on top of the UR10 arm  urdf model in rviz -->

  <!-- select a robot, see README.md for options -->
  <arg name="robot_name" default="$(optenv ROBOT mia_hand_on_ur5)" />

  <!-- upload robot urdf model to param server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find april_robot_description)/urdf/$(arg robot_name).urdf.xacro'" />

  <!-- run joint state publisher gui, robot state publisher and rviz -->
  <include file="$(find april_robot_description)/launch/test_urdf.launch" />

</launch>
