<?xml version="1.0"?>
<launch>

  <!-- select a robot, possible combinations: mia_hand_on_ur5, mia_hand, ur5 -->
  <arg name="robot_name" default="$(optenv ROBOT mia_hand_on_ur5)" />

  <!-- full path to urdf model -->
  <arg name="urdf_path" default="$(find april_robot_description)/urdf/$(arg robot_name).urdf.xacro" />

  <include file="$(find april_robot_description)/launch/robot_specific_urdf/upload_$(arg robot_name)_urdf.launch">
    <arg name="urdf_path" value="$(arg urdf_path)" />
  </include>

</launch>
