[submodule "src/universal_robot"]
	path = src/universal_robot
	url = https://github.com/aprilprojecteu/universal_robot
	branch = pybullet
[submodule "src/mia_hand"]
	path = src/mia_hand
	url = https://bitbucket.org/prensiliasrl/mia_hand_ros_pkgs.git
[submodule "src/shadow_hand"]
	path = src/shadow_hand
	url = https://github.com/shadow-robot/sr_common.git
