<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!--
    NOTE: common macros are defined in this file.
    Author: Prensilia srl
  -->

  <xacro:macro name="read_model_data" params="joint_limits_parameters_file">
   <!-- Read .yaml files from disk, load content into properties -->
   <xacro:property name="config_joint_limit_parameters" value="${xacro.load_yaml(joint_limits_parameters_file)}"/>

   <!-- Extract subsections from yaml dictionaries -->
   <xacro:property name="sec_limits" value="${config_joint_limit_parameters['joint_limits']}"/>

   <!-- JOINTS LIMIT PARAMETERS -->
   <xacro:property name="j_index_fle_lower_limit" value="${sec_limits['j_index_fle']['min_position']}" scope="parent"/>
   <xacro:property name="j_index_fle_upper_limit" value="${sec_limits['j_index_fle']['max_position']}" scope="parent"/>
   <xacro:property name="j_mrl_fle_lower_limit" value="${sec_limits['j_mrl_fle']['min_position']}" scope="parent"/>
   <xacro:property name="j_mrl_fle_upper_limit" value="${sec_limits['j_mrl_fle']['max_position']}" scope="parent"/>
   <xacro:property name="j_thumb_fle_lower_limit" value="${sec_limits['j_thumb_fle']['min_position']}" scope="parent"/>
   <xacro:property name="j_thumb_fle_upper_limit" value="${sec_limits['j_thumb_fle']['max_position']}" scope="parent"/>
   <xacro:property name="j_thumb_opp_lower_limit" value="${sec_limits['j_thumb_opp']['min_position']}" scope="parent"/>
   <xacro:property name="j_thumb_opp_upper_limit" value="${sec_limits['j_thumb_opp']['max_position']}" scope="parent"/>

 </xacro:macro>

</robot>
