<?xml version="1.0"?>
<launch>

  <!-- full path to urdf model -->
  <arg name="urdf_path" default="$(find april_robot_description)/urdf/shadow_hand.urdf.xacro" />

  <!-- upload robot URDF model to parameter server -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(arg urdf_path)'" />

</launch>
