<?xml version="1.0"?>
<launch>

  <!-- full path to urdf model -->
  <arg name="urdf_path" default="$(find april_robot_description)/urdf/$(arg robot_name).urdf.xacro" />

  <!--set urdf args for the ur5 arm-->
  <arg name="arm_urdf_args" value=""/>

  ******
  <!--set urdf args depending on robot_name-->
  <arg name="ur5_urdf_args" value="transmission_hw_interface:=hardware_interface/VelocityJointInterface" if="$(eval robot_name == 'ur5')" />
  <arg name="ur5_urdf_args" value="" if="$(eval robot_name == 'mia_hand')" />
  <arg name="ur5_urdf_args" value="" if="$(eval robot_name == 'shadow_hand')" />
  <arg name="ur5_urdf_args" value="transmission_hw_interface:=hardware_interface/VelocityJointInterface" if="$(eval robot_name == 'mia_hand_on_ur5')" />
  <arg name="ur5_urdf_args" value="transmission_hw_interface:=hardware_interface/VelocityJointInterface" if="$(eval robot_name == 'shadow_hand_on_ur5')" />
  <arg name="hand_urdf_args" value="" if="$(eval robot_name == 'ur5')" />
  ******

  <group if="$(arg mia_hw_sim_required)">
    <!--todo ...-->
    <!-- MiaHWSim -->
    <arg name="hand_urdf_args"
         value="mia_hw_sim:=true hw_interface_thumb_fle:=EffortJointInterface hw_interface_index_fle:=EffortJointInterface hw_interface_mrl_fle:=EffortJointInterface"
         if="$(eval robot_name == 'mia_hand')"/>
    <arg name="hand_urdf_args"
         value="mia_hw_sim:=true hw_interface_thumb_fle:=EffortJointInterface hw_interface_index_fle:=EffortJointInterface hw_interface_mrl_fle:=EffortJointInterface"
         if="$(eval robot_name == 'mia_hand_on_ur5')"/>
    <!--for shadow hand regardless of the value of mia_hw_sim_required we leave empty hand_urdf_args-->
    <arg name="hand_urdf_args" value="" if="$(eval robot_name == 'shadow_hand')"/>
    <arg name="hand_urdf_args" value="" if="$(eval robot_name == 'shadow_hand_on_ur5')"/>
  </group>
  <group unless="$(arg mia_hw_sim_required)">
    <!--use DefaultRobotHWSim + mimic joint plugin-->
    <arg name="hand_urdf_args" value="mia_hw_sim:=false" if="$(eval robot_name == 'mia_hand')"/>
    <arg name="hand_urdf_args" value="mia_hw_sim:=false" if="$(eval robot_name == 'mia_hand_on_ur5')"/>
    <!--for shadow hand regardless of the value of mia_hw_sim_required we leave empty hand_urdf_args-->
    <arg name="hand_urdf_args" value="" if="$(eval robot_name == 'shadow_hand')"/>
    <arg name="hand_urdf_args" value="" if="$(eval robot_name == 'shadow_hand_on_ur5')"/>
  </group>

  <!--urdf_args = arm urdf args + hand urdf args-->
  <arg name="urdf_args" value="$(arg arm_urdf_args) $(arg hand_urdf_args)" />

  <!-- upload robot URDF model to parameter server -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(arg urdf_path)' $(arg urdf_args)" />

</launch>
