<?xml version="1.0"?>
<launch>

  <!-- full path to urdf model -->
  <arg name="urdf_path" default="$(find april_robot_description)/urdf/ur5.urdf.xacro" />

  <!--set urdf args for the ur5 arm-->
  <arg name="arm_urdf_args" value="transmission_hw_interface:=hardware_interface/VelocityJointInterface"/>

  <!--no hand required-->
  <arg name="hand_urdf_args" value=""/>

  <!--urdf_args = arm urdf args + hand urdf args-->
  <arg name="urdf_args" value="$(arg arm_urdf_args) $(arg hand_urdf_args)" />

  <!-- upload robot URDF model to parameter server -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(arg urdf_path)' $(arg urdf_args)" />

</launch>
