<?xml version="1.0"?>
<launch>

  <!-- full path to urdf model -->
  <arg name="urdf_path" default="$(find april_robot_description)/urdf/mia_hand.urdf.xacro" />

  <!--no arm required-->
  <arg name="arm_urdf_args" value=""/>

  <!-- Arguments to upload hardware interface and controllers of each finger -->
  <arg name="hw_interface_thumb_fle" default="EffortJointInterface"
       doc="type of hardware interface for thumb flexion. Values: EffortJointInterface, PositionJointInterface VelocityJointInterface"/>
  <arg name="hw_interface_index_fle" default="EffortJointInterface"
       doc="type of hardware interface for index flexion. Values: EffortJointInterface, PositionJointInterface VelocityJointInterface"/>
  <arg name="hw_interface_mrl_fle" default="EffortJointInterface"
       doc="type of hardware interface for mrl flexion. Values: EffortJointInterface, PositionJointInterface VelocityJointInterface"/>

  <!--use DefaultRobotHWSim + mimic joint plugin-->
  <arg name="hand_urdf_args"
       value="mia_hw_sim:=true hw_interface_thumb_fle:=$(arg hw_interface_thumb_fle) hw_interface_index_fle:=$(arg hw_interface_index_fle) hw_interface_mrl_fle:=$(arg hw_interface_mrl_fle)"/>

  <!--urdf_args = arm urdf args + hand urdf args-->
  <arg name="urdf_args" value="$(arg arm_urdf_args) $(arg hand_urdf_args)" />

  <!-- upload robot URDF model to parameter server -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(arg urdf_path)' $(arg urdf_args)" />

</launch>
